<div><%= tweet.status %>
<% if current_user %>
  <%= link_to "favorite", tweet_favorite_path(tweet),method: :post %>
  <%= link_to "unfavorite", tweet_unfavorite_path(tweet),method: :post %>
  <%= link_to "retweet", tweet_retweet_path(tweet), method: :post %>
<% end %>
</div>
